{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ watch['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or watch['name'] }}" required>

    <label for="url">Url</label>
    <input name="url" id="url" value="{{ request.form['url'] or watch['url'] }}" required>

    <label for="update_interval_minutes">Update Interval (min)</label>
    <input name="update_interval_minutes" id="update_interval_minutes" value="{{ request.form['update_interval_minutes'] }}" required>

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('watch.delete', id=watch['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}